.App {
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

nav ul li.active {
  font-weight: bold;
}

main {
  padding: 20px;
}

.section-about {
  background-color: #f5f5f5;
  padding: 20px;
}

.avatar {
  width: 150px;
  height: 250px;
  
  margin-bottom: 20px;
}

.section-portfolio {
  background-color: #fafafa;
  padding: 20px;
}

.section-contact {
  background-color: #f5f5f5;
  padding: 20px;
}

.section-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.section-contact input,
.section-contact textarea,
.section-contact button {
  margin-top: 10px;
}

.section-resume {
  background-color: #fafafa;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

footer p {
  display: flex;
  justify-content: center;
}

footer a {
  color: white;
  margin: 0 10px;
}
.project-item img {
  display: block;
  max-width: 50%;  
  height: auto;    
  margin: 0 auto; 
}